.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 60px;

  @media (max-width: 768px) {
    display: none;
  }

  &.mobile {
    display: none;

    .list {
      display: flex;
      align-items: center;
      gap: 15px;

      &:first-child::after {
        content: none;
      }

      .hamburger {
        background: none;
        border: none;
      }
    }

    @media (max-width: 769px) {
      display: flex;
    }
  }

  .list {
    display: flex;
    align-items: center;
    gap: 60px;

    &:first-child::after {
      content: ' | ';
      padding: 0 10px;
    }

    .item {
      list-style: none;

      .link {
        color: var(--c-black);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        text-decoration: none;
        border: none;
        background: none;
      }
    }

    &.icons {
      display: flex;
      align-items: center;
      gap: 40px;

      .search-button {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
      }

      .form {
        .input {
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          background: #efefef;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}