.latest-arrival {
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 120px;

    @media (max-width: 480px) {
      padding-top: 24px;
      padding-bottom: 60px;
      gap: 14px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
        color: var(--c-gold);
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-decoration: none;

        @media (max-width: 480px) {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }

      .heading {
        @media (max-width: 768px) {
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
        }

        @media (max-width: 480px) {
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
      }
    }
  }
}
