{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "never",
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "useTabs": true
}
