{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "bracketSameLine": false
}
