.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  
	.container {
    margin: 0 auto;
    max-width: 1248px;
    padding: 17px 24px;
		display: flex;
		flex-direction: column;
		gap: 40px;

    &::before {
      content: "";
      display: block;
      border-top: 1px solid var(--c-gray-100);
    }

    @media (max-width: 768px) {
      padding: 15px;
      gap: 25px;

      &::before {
        content: none;
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 25px;
      }
    }
  }
}