.form {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--c-black);

  @media (max-width: 768px) {
    width: 100%;
  }

  .input {
    width: 100%;
    border: none;
    outline: none;
  }

  .icon {
    position: relative;
  }
}
