.menu {
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background: var(--c-white);

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 768px;
    padding: 15px;

    hr {
      border-top: 1px solid var(--c-gray-100);
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 24px;
      list-style: none;

      .item {
        .link {
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--c-black);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 769px) {
    display: none;
  }
}
