.toggle {
	position: relative;
  width: 40px;
  height: 22px;
  border: 1px solid var(--c-gray-100);
  background: none;
  border-radius: 99px;
	cursor: pointer;

  &.active {
    background: var(--c-black-light);
    border: none;
  }

  .circle {
    position: absolute;
		top: 20%;
		bottom: 20%;
		left: 15%;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background: var(--c-black-light);
    
    &.active {
      right: 25%;
			left: 50%;
      border: none;
      background: var(--c-white);
    }
  }
}
