.nav {
  .list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;

    .item {
      .link {
        color: var(--c-gray-200);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}
